[project]
	description = Coding assignment for Ubix
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rick Lamoreaux (FoldIdea)
[access "refs/for/refs/*"]
	read = group user/Rick Lamoreaux (FoldIdea)
	push = group user/Rick Lamoreaux (FoldIdea)
	label-Code-Review = -2..+2 group user/Rick Lamoreaux (FoldIdea)
	label-Verified = -1..+1 group user/Rick Lamoreaux (FoldIdea)
	rebase = group user/Rick Lamoreaux (FoldIdea)
	removeReviewer = group user/Rick Lamoreaux (FoldIdea)
	submit = group user/Rick Lamoreaux (FoldIdea)
[access "refs/heads/*"]
	read = group user/Rick Lamoreaux (FoldIdea)
	create = group user/Rick Lamoreaux (FoldIdea)
	push = +force group user/Rick Lamoreaux (FoldIdea)
	pushMerge = group user/Rick Lamoreaux (FoldIdea)
[access "refs/tags/*"]
	push = +force group user/Rick Lamoreaux (FoldIdea)
	pushTag = group user/Rick Lamoreaux (FoldIdea)
	pushSignedTag = group user/Rick Lamoreaux (FoldIdea)
